@page
@model beervitalsModel
<h2>Current Beer Vitals</h2>
<h3>
    @Model.Temperature
</h3>
<h3>
    @Model.Humidity
</h3>

<div class="container">
    <div id="chart1"></div>
    <div id="chart2"></div>
</div>

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get('vitals', function (jsonData) {
                var data = new google.visualization.DataTable();
                var data1 = new google.visualization.DataTable();
                data.addColumn('datetime', 'TimeStamp');
                data.addColumn('number', 'Temperature');
                data1.addColumn('datetime', 'TimeStamp');
                data1.addColumn('number', 'Humidity');
                for (var i = 0; i < jsonData.length; i++) {
                    var timeStamp = new Date(jsonData[i].entryTimestamp);
                    data.addRow([timeStamp, jsonData[i].temperature]);
                    data1.addRow([timeStamp, jsonData[i].humidity]);
                }

                var option = {
                    title: "Beer Vitals",
                    width: 1200,
                    height: 900
                };
                chart = new google.visualization.LineChart(document.getElementById('chart1'));
                chart1 = new google.visualization.LineChart(document.getElementById('chart2'));
                chart.draw(data, option);
                chart1.draw(data1, option);
            })
        }
    </script>
}